.container {
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #6e1d1d;
}

.card-text {
  font-size: 14px;
  color: #988930;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #62a25f;
}

.card-footer {
  text-align: center;
}

.btn-product {
  background-color: #62a25f; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-product:hover {
  background-color: #4e8c49;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-img-top {
    height: 150px;
  }
}
